-- Ticket Validation System Setup
-- This migration creates a complete ticket validation system for event organizers

-- 1. Ensure the tickets table has all required columns for validation
ALTER TABLE public.tickets 
ADD COLUMN IF NOT EXISTS validated_at TIMESTAMPTZ,
ADD COLUMN IF NOT EXISTS validated_by UUID REFERENCES auth.users(id),
ADD COLUMN IF NOT EXISTS attendee_name TEXT,
ADD COLUMN IF NOT EXISTS attendee_email TEXT,
ADD COLUMN IF NOT EXISTS ticket_type TEXT DEFAULT 'General Admission',
ADD COLUMN IF NOT EXISTS amount NUMERIC DEFAULT 0,
ADD COLUMN IF NOT EXISTS currency TEXT DEFAULT 'usd',
ADD COLUMN IF NOT EXISTS stripe_payment_intent_id TEXT,
ADD COLUMN IF NOT EXISTS stripe_session_id TEXT;

-- 2. Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_tickets_validated_at ON public.tickets(validated_at);
CREATE INDEX IF NOT EXISTS idx_tickets_validated_by ON public.tickets(validated_by);
CREATE INDEX IF NOT EXISTS idx_tickets_event_id_status ON public.tickets(event_id, status);
CREATE INDEX IF NOT EXISTS idx_tickets_user_id_event_id ON public.tickets(user_id, event_id);
CREATE INDEX IF NOT EXISTS idx_tickets_attendee_email ON public.tickets(attendee_email);

-- 3. Add comments for documentation
COMMENT ON COLUMN public.tickets.validated_at IS 'Timestamp when ticket was validated/checked-in at event';
COMMENT ON COLUMN public.tickets.validated_by IS 'User ID of organizer who validated the ticket';
COMMENT ON COLUMN public.tickets.attendee_name IS 'Name of the attendee for this ticket';
COMMENT ON COLUMN public.tickets.attendee_email IS 'Email of the attendee for this ticket';
COMMENT ON COLUMN public.tickets.ticket_type IS 'Type of ticket (e.g., General Admission, VIP, etc.)';
COMMENT ON COLUMN public.tickets.amount IS 'Amount paid for the ticket';
COMMENT ON COLUMN public.tickets.currency IS 'Currency of the ticket price';
COMMENT ON COLUMN public.tickets.stripe_payment_intent_id IS 'Stripe payment intent ID for paid tickets';
COMMENT ON COLUMN public.tickets.stripe_session_id IS 'Stripe session ID for the payment';

-- 4. Update existing tickets to have null validated_at
UPDATE public.tickets 
SET validated_at = NULL, validated_by = NULL 
WHERE validated_at IS NULL;

-- 5. Create RLS policies for ticket validation
-- Allow organizers to view tickets for their events
DROP POLICY IF EXISTS "Organizers can view tickets for their events" ON public.tickets;
CREATE POLICY "Organizers can view tickets for their events"
ON public.tickets FOR SELECT
USING (
  EXISTS (
    SELECT 1 FROM public.events 
    WHERE events.id = tickets.event_id 
    AND events.user_id = auth.uid()
  )
);

-- Allow organizers to validate tickets for their events
DROP POLICY IF EXISTS "Organizers can validate tickets for their events" ON public.tickets;
CREATE POLICY "Organizers can validate tickets for their events"
ON public.tickets FOR UPDATE
USING (
  EXISTS (
    SELECT 1 FROM public.events 
    WHERE events.id = tickets.event_id 
    AND events.user_id = auth.uid()
  )
)
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.events 
    WHERE events.id = tickets.event_id 
    AND events.user_id = auth.uid()
  )
);

-- Allow users to view their own tickets
DROP POLICY IF EXISTS "Users can view their own tickets" ON public.tickets;
CREATE POLICY "Users can view their own tickets"
ON public.tickets FOR SELECT
USING (auth.uid() = user_id);

-- Allow users to create their own tickets
DROP POLICY IF EXISTS "Users can create their own tickets" ON public.tickets;
CREATE POLICY "Users can create their own tickets"
ON public.tickets FOR INSERT
WITH CHECK (auth.uid() = user_id);

-- Allow users to update their own tickets
DROP POLICY IF EXISTS "Users can update their own tickets" ON public.tickets;
CREATE POLICY "Users can update their own tickets"
ON public.tickets FOR UPDATE
USING (auth.uid() = user_id)
WITH CHECK (auth.uid() = user_id);

-- Allow users to delete their own tickets
DROP POLICY IF EXISTS "Users can delete their own tickets" ON public.tickets;
CREATE POLICY "Users can delete their own tickets"
ON public.tickets FOR DELETE
USING (auth.uid() = user_id);

-- 6. Create a view for ticket validation with attendee information
CREATE OR REPLACE VIEW public.tickets_for_validation AS
SELECT 
    t.id,
    t.event_id,
    t.user_id,
    t.ticket_type,
    t.status,
    t.validated_at,
    t.validated_by,
    t.attendee_name,
    t.attendee_email,
    t.amount,
    t.currency,
    t.created_at,
    e.title as event_title,
    e.location as event_location,
    e.start_time as event_start_time,
    e.end_time as event_end_time,
    e.image as event_image,
    e.user_id as organizer_id,
    p.full_name as user_full_name,
    u.email as user_email
FROM public.tickets t
JOIN public.events e ON t.event_id = e.id
LEFT JOIN public.profiles p ON t.user_id = p.id
LEFT JOIN auth.users u ON t.user_id = u.id;

-- Grant permissions on the view
GRANT SELECT ON public.tickets_for_validation TO authenticated;

-- 7. Create a function to get event statistics for organizers
CREATE OR REPLACE FUNCTION public.get_event_ticket_stats(event_id UUID)
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    result JSON;
    total_tickets INTEGER;
    checked_in_tickets INTEGER;
    pending_tickets INTEGER;
    cancelled_tickets INTEGER;
    total_revenue NUMERIC;
BEGIN
    -- Check if user is the organizer of this event
    IF NOT EXISTS (
        SELECT 1 FROM public.events 
        WHERE id = event_id AND user_id = auth.uid()
    ) THEN
        RAISE EXCEPTION 'Access denied: You can only view stats for your own events';
    END IF;

    -- Get ticket counts
    SELECT 
        COUNT(*) INTO total_tickets
    FROM public.tickets 
    WHERE event_id = get_event_ticket_stats.event_id;

    SELECT 
        COUNT(*) INTO checked_in_tickets
    FROM public.tickets 
    WHERE event_id = get_event_ticket_stats.event_id 
    AND validated_at IS NOT NULL;

    SELECT 
        COUNT(*) INTO pending_tickets
    FROM public.tickets 
    WHERE event_id = get_event_ticket_stats.event_id 
    AND status = 'confirmed' 
    AND validated_at IS NULL;

    SELECT 
        COUNT(*) INTO cancelled_tickets
    FROM public.tickets 
    WHERE event_id = get_event_ticket_stats.event_id 
    AND status = 'cancelled';

    SELECT 
        COALESCE(SUM(amount), 0) INTO total_revenue
    FROM public.tickets 
    WHERE event_id = get_event_ticket_stats.event_id 
    AND status = 'confirmed';

    result := json_build_object(
        'total_tickets', total_tickets,
        'checked_in_tickets', checked_in_tickets,
        'pending_tickets', pending_tickets,
        'cancelled_tickets', cancelled_tickets,
        'total_revenue', total_revenue,
        'check_in_rate', CASE 
            WHEN total_tickets > 0 THEN 
                ROUND((checked_in_tickets::NUMERIC / total_tickets::NUMERIC) * 100, 2)
            ELSE 0 
        END
    );

    RETURN result;
END;
$$;

-- Grant execute permission
GRANT EXECUTE ON FUNCTION public.get_event_ticket_stats(UUID) TO authenticated;

-- 8. Create a function to validate a ticket
CREATE OR REPLACE FUNCTION public.validate_ticket(
    ticket_id UUID,
    organizer_id UUID
)
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    result JSON;
    ticket_record RECORD;
    event_record RECORD;
BEGIN
    -- Get ticket information
    SELECT t.*, e.title as event_title, e.user_id as event_organizer_id
    INTO ticket_record
    FROM public.tickets t
    JOIN public.events e ON t.event_id = e.id
    WHERE t.id = validate_ticket.ticket_id;

    -- Check if ticket exists
    IF NOT FOUND THEN
        result := json_build_object(
            'success', false,
            'message', 'Ticket not found'
        );
        RETURN result;
    END IF;

    -- Check if organizer owns the event
    IF ticket_record.event_organizer_id != organizer_id THEN
        result := json_build_object(
            'success', false,
            'message', 'You can only validate tickets for your own events'
        );
        RETURN result;
    END IF;

    -- Check if ticket is already validated
    IF ticket_record.validated_at IS NOT NULL THEN
        result := json_build_object(
            'success', false,
            'message', 'Ticket already checked in',
            'attendee_name', COALESCE(ticket_record.attendee_name, 'Unknown'),
            'attendee_email', COALESCE(ticket_record.attendee_email, 'Unknown'),
            'ticket_type', ticket_record.ticket_type,
            'event_title', ticket_record.event_title
        );
        RETURN result;
    END IF;

    -- Check if ticket status is confirmed
    IF ticket_record.status != 'confirmed' THEN
        result := json_build_object(
            'success', false,
            'message', 'Ticket status is ' || ticket_record.status,
            'attendee_name', COALESCE(ticket_record.attendee_name, 'Unknown'),
            'attendee_email', COALESCE(ticket_record.attendee_email, 'Unknown'),
            'ticket_type', ticket_record.ticket_type,
            'event_title', ticket_record.event_title
        );
        RETURN result;
    END IF;

    -- Validate the ticket
    UPDATE public.tickets 
    SET 
        validated_at = NOW(),
        validated_by = organizer_id
    WHERE id = validate_ticket.ticket_id;

    result := json_build_object(
        'success', true,
        'message', 'Ticket validated successfully',
        'attendee_name', COALESCE(ticket_record.attendee_name, 'Unknown'),
        'attendee_email', COALESCE(ticket_record.attendee_email, 'Unknown'),
        'ticket_type', ticket_record.ticket_type,
        'event_title', ticket_record.event_title,
        'validated_at', NOW()
    );

    RETURN result;
END;
$$;

-- Grant execute permission
GRANT EXECUTE ON FUNCTION public.validate_ticket(UUID, UUID) TO authenticated;

-- 9. Create a function to manually check in by email
CREATE OR REPLACE FUNCTION public.manual_check_in(
    event_id UUID,
    attendee_email TEXT,
    organizer_id UUID
)
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    result JSON;
    ticket_record RECORD;
BEGIN
    -- Check if organizer owns the event
    IF NOT EXISTS (
        SELECT 1 FROM public.events 
        WHERE id = manual_check_in.event_id AND user_id = organizer_id
    ) THEN
        result := json_build_object(
            'success', false,
            'message', 'You can only validate tickets for your own events'
        );
        RETURN result;
    END IF;

    -- Find ticket by email and event
    SELECT t.*, e.title as event_title
    INTO ticket_record
    FROM public.tickets t
    JOIN public.events e ON t.event_id = e.id
    WHERE t.event_id = manual_check_in.event_id 
    AND t.attendee_email = manual_check_in.attendee_email
    AND t.status = 'confirmed'
    AND t.validated_at IS NULL
    LIMIT 1;

    -- Check if ticket exists
    IF NOT FOUND THEN
        result := json_build_object(
            'success', false,
            'message', 'No valid ticket found for this email'
        );
        RETURN result;
    END IF;

    -- Validate the ticket
    UPDATE public.tickets 
    SET 
        validated_at = NOW(),
        validated_by = organizer_id
    WHERE id = ticket_record.id;

    result := json_build_object(
        'success', true,
        'message', 'Ticket validated successfully',
        'attendee_name', COALESCE(ticket_record.attendee_name, 'Unknown'),
        'attendee_email', ticket_record.attendee_email,
        'ticket_type', ticket_record.ticket_type,
        'event_title', ticket_record.event_title,
        'validated_at', NOW()
    );

    RETURN result;
END;
$$;

-- Grant execute permission
GRANT EXECUTE ON FUNCTION public.manual_check_in(UUID, TEXT, UUID) TO authenticated;

-- 10. Verify the setup
SELECT 
    'Ticket validation system setup complete' as status,
    COUNT(*) as total_tickets,
    COUNT(CASE WHEN validated_at IS NOT NULL THEN 1 END) as validated_tickets,
    COUNT(CASE WHEN validated_at IS NULL AND status = 'confirmed' THEN 1 END) as pending_tickets
FROM public.tickets;

-- Display created policies
SELECT 
    'Policies created:' as info,
    policyname,
    cmd,
    permissive
FROM pg_policies 
WHERE tablename = 'tickets'
ORDER BY policyname;

-- Display created functions
SELECT 
    'Functions created:' as info,
    proname as function_name
FROM pg_proc 
WHERE proname IN ('get_event_ticket_stats', 'validate_ticket', 'manual_check_in')
ORDER BY proname;
